<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Password Generator | About</title>
</head>
<body>

    <h1>About</h1>
    <h3>Created by Sunny Hebbar</h3>
    <p>
        This site allows the user to select the desired
        options for a random password.
    </p>
    <p>
        Upon hitting the "Generate Password" button, a
        random password is generated, based on the user's
        selection choices.
    </p>

    <a href="{% url 'home' %}">Home</a>

</body>
</html>